@font-face {
    font-family: hellogoodbye;
    src: url("font/hellogoodbye.otf");
}

#viewBox {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
}

#navigationPanel {
    position: fixed;
    top: 80%;
    left: 0px;
    background-color: #FFFFFF;
    width: 100%;
    height: 20%;
    opacity: 0;
    z-index: 10;
}

#navigationControls {
    top: 0%;
    width: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#zoomedControls {
    top: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    font-family: "hellogoodbye";
    font-size: 30px;
    cursor: pointer;
    opacity: 0;
}

.navigationControl {
    font-family: "hellogoodbye";
    font-size: 30px;
    cursor: pointer;
    opacity: 0.7;
}

.control-separator {
    padding-left: 15px;
    padding-right: 15px;
    font-family: "hellogoodbye";
    font-size: 30px;
    cursor: text;
}

.content-panel {
    position: fixed;
    overflow: auto;
    top: 10%;
    left: 25%;
    width: 50%;
    display: none;
    height: 70%;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    text-align: justify;
    z-index: 1000;
}

.panel-title {
    -webkit-transform: translateZ(0); /* Fixed for Chrome */
    position: fixed;
    font-size: 24px;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 100;
    padding-bottom: 15px;
    margin-top: 0px;
}

.first-content-element {
    padding-top: 30px;
}

.project-thumbnail {
    width: 200px;
    height: 200px;
    display: inline;
    float: left;
    margin-right: 15px;
}

.project-thumbnail:hover {
    opacity: 0.8;
}

.project-description {
    margin-left: 10px;
    margin-top: 0px;
    height: 175px;
}

.project-section {
    margin-top: 50px;
    display: block;
}

.project-title {
    margin-bottom: 5px;
}

.code {
    font-family: "Source Code Pro";
}

.subtitle {
    margin-bottom: 0px;
}

.subcontent {
    margin-top: 8px;
}

p>a {
    color: #428BCA;
    text-decoration: none;
}

p>a:hover {
    text-decoration: underline;
}
