@font-face {
    font-family: hellogoodbye;
    src: url("font/hellogoodbye.otf");
}

#viewBox {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
}

#navigationPanel {
    position: fixed;
    top: 75%;
    left: 0px;
    background-color: #FFFFFF;
    width: 100%;
    height: 25%;
    opacity: 0;
}

#navigationControls {
    top: 10%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.navigationControl {
    font-family: "hellogoodbye";
    font-size: 30px;
    cursor: pointer;
}

.control-separator {
    padding-left: 15px;
    padding-right: 15px;
    font-family: "hellogoodbye";
    font-size: 30px;
    cursor: text;
}